body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-weight: 400;
}

:root {
  --primiory-text-color: #2e2f42;
  --secondary-text-color: #434455;

  --blue-text-color: #4d5ae5;
  --grey-cornflower: #f4f4fd;
  --push-btn-portfolio: #404bbf;
  --color-white-fff: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primiory-text-color);
}

.heder-link {
  color: var(--primiory-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.heder-link:focus,
.heder-link:hover {
  color: var(--push-btn-portfolio);
}

.contacts-tel,
.contacts-emeil {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-emeil:hover,
.contacts-emeil:focus {
  color: var(--push-btn-portfolio);
}

/* hero */

.hero-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* color: #FFFFFF; */
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: #ffffff;
  background-color: var(--blue-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--push-btn-portfolio);
}
.properties-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.properties-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.team-title,
.properties-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* team */
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* portfolio */
.filtr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 586px;
  height: 48px;
  left: 422px;
  top: 181px;
}
.filtr-btn {
  color: var(--blue-text-color);
  background-color: var(--grey-cornflower);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--color-white-fff);
  background-color: var(--push-btn-portfolio);
}

.works-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primiory-text-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */
.logo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
