:root {
  --primiory-text-color: #434455;
  --secondary-text-color: #2e2f42;

  --blue-text-color: #4d5ae5;
  --grey-cornflower: #f4f4fd;
  --push-btn-portfolio: #404bbf;
  --color-white-fff: #ffffff;
  --color-hero-bckg: #2e2f42;
  --color-foot-text: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primiory-text-color);
  background-color: var(--color-white-fff);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* спрятать заголовок */
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*----------- header----------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-text-color);
}

.logo-bleck {
  color: var(--secondary-text-color);
}
.logo-white {
  color: var(--grey-cornflower);
}

.heder-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.heder-link:focus,
.heder-link:hover {
  color: var(--push-btn-portfolio);
}
.address {
  font-style: normal;
}

.contacts-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primiory-text-color);
}
.contacts-address:hover,
.contacts-address:focus {
  color: var(--push-btn-portfolio);
}

/*---------------- hero ---------------*/
.hero {
  background-color: var(--color-hero-bckg);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white-fff);
}

.hero-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white-fff);
  background-color: var(--blue-text-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--push-btn-portfolio);
}
.properties-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.properties-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.properties-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ------------What are we doing ------------*/

.content-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/*------------ team --------------*/
.team {
  background-color: var(--grey-cornflower);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-list {
  background-color: var(--color-white-fff);
}

/*----------------- portfolio---------------- */
.filtr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 586px;
  height: 48px;
  left: 422px;
  top: 181px;
}
.filtr-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue-text-color);
  background-color: var(--grey-cornflower);
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--color-white-fff);
  background-color: var(--push-btn-portfolio);
}

.works-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primiory-text-color);
}

/*------------- footer -----------------*/

.footer {
  background-color: var(--color-hero-bckg);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-foot-text);
}
